<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IndieWebify.Me - a guide to getting you on the IndieWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <style type="text/css">
			.validate-result {
				border-radius: .75em;
				margin: .75em .10em;
				padding: 1.25em;
				background-color: #edeff1;
				display: none;
			}
    </style>
   
  </head>
  <body>
    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          IndieWebify.Me
          <small>A guide to getting you on the <a href="http://indiewebcamp.com" target="_blank">IndieWeb</a></small>
        </h1>
      </div>

	
		<div class="row demo-row">

			<h1>What is the IndieWeb?</h1>
			<p>&nbsp;</p>			
			<blockquote>			
			We should all own the content we're creating, rather than just posting to third-party content silos. 
			Publish on your own domain, and syndicate out to silos.
			This is the basis of the "Indie Web" movement.
			~<a href="http://indiewebcamp.com" target="_blank">IndieWebCamp</a>
			</blockquote>

		</div>
		<div class="row demo-row"><hr></div>



		<!-- Level 1 -->
		<div class="row demo-row">

			<h1><span class="fui-user"></span> &nbsp; Become a citizen of the IndieWeb <small>Level 1</small></h1>
	
			<h2>1. Register a domain name to use as your personal web identity</h2>
			<h2>2. Add ability to sign in <a href="http://indiewebcamp.com/IndieAuth" target="_blank">IndieAuth</a> using your personal domain name</h2>
			<p>&nbsp;</p>

			<h4>Once you've added the proper rel="me" links test out signing in with IndieAuth</h4>
			<div class="row">
		        <div class="span4">
		        	<input type="text" id="validate-rel-url" value="" placeholder="http://yoursite.com" class="span4" />
		        </div>
		        <div class="span3">
		        	<a href="#" id="validate-rel" class="validate-microformat btn btn-large btn-block btn-primary">Test</a>
		        </div>
			</div>
		</div>
		<div id="validate-rel-result" class="row validate-result"></div>


		<!-- Level 2 -->
		<div class="row demo-row">

			<h1><span class="fui-new"></span> &nbsp; Publishing on the IndieWeb <small>Level 2</small></h1>
	
			<h2>1. Markup your content (Posts, Articles, Notes, etc...) with <a href="http://microformats.org/" target="_blank">Microformats</a></h2>
			<p>&nbsp;</p>


			<h4>Validate your <strong>index</strong> page has a <a href="http://microformats.org/wiki/h-card" target="_blank">hCARD</a> that is properly formatted</h4>
			<div class="row">
		        <div class="span4">
		        	<input type="text" id="validate-hcard-url" value="" placeholder="http://yoursite.com" class="span4" />
		        </div>
		        <div class="span3">
		        	<a href="#fakelink" id="validate-hcard" class="validate-microformat btn btn-large btn-block btn-primary">Validate hCARD</a>
		        </div>
			</div>
			<div id="validate-hcard-result" class="row validate-result"></div>
			<p>&nbsp;</p>
			


			<h4>Validate your <strong>posts / notes</strong> display a <a href="http://microformats.org/wiki/h-entry" target="_blank">hENTRY</a> that is properly formatted</h4>
			<div class="row">
		        <div class="span4">
		        	<input type="text" id="validate-hentry-url" value="" placeholder="http://yoursite.com/notes/123456" class="span4" />
		        </div>
		        <div class="span3">
		        	<a href="#fakelink" id="validate-hentry" class="validate-microformat btn btn-large btn-block btn-primary">Validate hENTRY</a>
		        </div>
			</div>
			<div id="validate-hentry-result" class="row validate-result"></div>
			<p>&nbsp;</p>

					

			<h2>2. Add the ability to "send" a <a href="http://webmention.org" target="_blank">WebMention</a> to other IndieWeb sites</h2>
			<h4>A Post / Note marked up content needs to exist at the URL with valid Microformat data 
			<h4>Send Webmention POST request to the site you are mentioning</h4>
			<p>&nbsp;</p>

			<ul>
				<li>Use an existing client like <a href="https://github.com/indieweb/mention-client" target="_blank">Webmention Client</a> (PHP)</li>
				<li>Write your own client in your language of choosing ;)</li>
			</ul>

		</div>
		<div class="row demo-row"><hr></div>
		
		
		
		<!-- Level 3 -->
		<div class="row demo-row">

			<h1><span class="fui-chat"></span> &nbsp; Federating IndieWeb Conversations <small>Level 3</small></h1>

			<h2>1. Add <strong>Reply Contexts</strong> to your site</h2>

			<h4>Must have "URL" input</h4>
			<h4>Fetch remote Microformat data from</h4>
			<h4>Store this data on your website</h4>
			<h4>Display this data along with your reply</h4>
			<hr>

			<h2>2. Add Receiving of WebMentions to your site</h2>
			<h4>Setup endpoint of your website to "recieve" webmentions from remote sites</h4>
			<p>&nbsp;</p>

			<h4>Send a test <strong>WebMention</strong> to your website: <span>http://yourwebsite.com</span></h4>
			<div class="row">
		        <div class="span5">
		        	<textarea name="web_mention" rows="4" class="span5"></textarea>
		        </div>
			</div>
			<div class="row">
				<div class="span3">
		        	<a href="#fakelink" class="btn btn-large btn-block btn-primary">Send WebMention</a>
		        </div>
			</div>

		</div>
		<div class="row demo-row"></div>


    </div> <!-- /container -->



		<!-- Templates -->
		<script type="text/template" id="template-validate-rel">		
			<h3>Success, here is the rel="me" data we found</h3> 
			<ul>
				<%= rels %>
			</ul>
			<p>You can now sign in to <a href="http://indiewebcamp.com/wiki/index.php?title=Special:UserLogin&returnto=Main_Page&returntoquery=local%3Dtrue" target="_blank">indiewebcamp.com</a> while signed into any of the above sites</p>
		</script>

		<script type="text/template" id="template-validate-hcard">
			<h3>Success, here is the hCard data we found</h3>
			<p>
				<strong>hCard</strong><br><br>
				<%= name %><br>
				<img src="<%= photo %>"><br>
				<a href="<%= url %>" target="_blank"><%= url %></a><br>
			</p>
		</script>
		

		<script type="text/template" id="template-validate-hentry">
			<h3>Success, here is the hEntry data we found</h3>
			<p>
				<strong>hEntry</strong><br><br>
				<%= name %><br>
				<img src="<%= photo %>"><br>
				<a href="<%= url %>" target="_blank"><%= url %></a><br>
				Published: <%= published %><br>
				Updated: <%= updated %>
			</p>
			<p>
				
			</p>
		</script>
    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/application.js"></script>
    
    <script type="text/javascript">

		var validateMicroRel = function(result) {

			var da_rels = result.rels.me;

			var rel_urls = '';
			$.each(da_rels, function(key, url) {
				rel_urls += '<li><a href="' + url + '" target="_blank">' + url + '</a></li>';
			});

			$('#validate-rel-result').html(_.template($('#template-validate-rel').html(), {rels: rel_urls})).fadeIn('slow');
		}

		var validateMicroHCard = function(hcard) {	
			$('#validate-hcard-result').html(_.template($('#template-validate-hcard').html(), hcard)).fadeIn('slow');
		}

		var validateMicroHEntry = function(hentry) {
			$('#validate-hentry-result').html(_.template($('#template-validate-hentry').html(), hentry)).fadeIn('slow');
		}

	  $(document).ready(function(){

			$('.validate-microformat').bind('click', function(e) {

				var validate = $(this).attr('id');

				console.log(validate);

			  e.preventDefault();
				$.ajax({
					url			  : 'microformat.php',
					type		  : 'POST',
					data      :  {'url': $('#' + validate + '-url').val()},
					dataType  : 'json',
			  	success : function(result)
			  	{
						console.log(result);		
						
						if (validate == 'validate-rel') {
							validateMicroRel(result);
						}
						else if (validate == 'validate-hcard') {
							validateMicroHCard(result.items[0].properties);
						}
						else if (validate == 'validate-hentry') {
							validateMicroHEntry(result);
						}
						else {
							alert('Ooops, could not find that type of validation');
						}

			  	}
				});
			});

    });
    </script>
    
  </body>
</html>
